#page {
  width: 310px;
  margin: 0 auto;
}

.g-h-1, .g-hl-1, .g-h-2, .g-hl-2, .g-h-3, .g-hl-3, .g-h-4, #navigation li, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3, .one-sidebar #content .g-all-1of3, .two-sidebars #content .g-all-1of3, .no-sidebars #content .g-all-1of3, .g-hl-4, #navigation li, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3, .one-sidebar #content .g-all-1of3, .two-sidebars #content .g-all-1of3, .no-sidebars #content .g-all-1of3, .g-h-5, .g-hl-5, .g-h-6, .one-sidebar .region-sidebar-first .g-all-half, .one-sidebar .region-sidebar-second .g-all-half, .two-sidebars .region-sidebar-first .g-all-half, .two-sidebars .region-sidebar-second .g-all-half, .one-sidebar #content .g-all-half, .two-sidebars #content .g-all-half, .no-sidebars #content .g-all-half, .g-hl-6, .one-sidebar .region-sidebar-first .g-all-half, .one-sidebar .region-sidebar-second .g-all-half, .two-sidebars .region-sidebar-first .g-all-half, .two-sidebars .region-sidebar-second .g-all-half, .one-sidebar #content .g-all-half, .two-sidebars #content .g-all-half, .no-sidebars #content .g-all-half, .g-h-7, .g-hl-7, .g-h-8, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3, .one-sidebar #content .g-all-2of3, .two-sidebars #content .g-all-2of3, .no-sidebars #content .g-all-2of3, .g-hl-8, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3, .one-sidebar #content .g-all-2of3, .two-sidebars #content .g-all-2of3, .no-sidebars #content .g-all-2of3, .g-h-9, .g-hl-9, .g-h-10, .g-hl-10, .g-h-11, .g-hl-11, .g-h-12, #header, .one-sidebar #main .region-sidebar-first, .one-sidebar #main #content, .one-sidebar #main .region-sidebar-second, .two-sidebars #main .region-sidebar-first, .two-sidebars #main #content, .two-sidebars #main .region-sidebar-second, .no-sidebars #main #content, #footer .region-footer, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .one-sidebar #content .g-all-full, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-full, .g-hl-12, #header, .one-sidebar #main .region-sidebar-first, .one-sidebar #main #content, .one-sidebar #main .region-sidebar-second, .two-sidebars #main .region-sidebar-first, .two-sidebars #main #content, .two-sidebars #main .region-sidebar-second, .no-sidebars #main #content, #footer .region-footer, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .one-sidebar #content .g-all-full, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-full, .g-t-1, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3, .g-tl-1, #navigation li, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3, .g-t-2, #navigation li, .two-sidebars #content .g-all-1of3, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3, .g-tl-2, .two-sidebars #content .g-all-1of3, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3, .g-t-3, .one-sidebar #main .region-sidebar-first, .one-sidebar #main .region-sidebar-second, .two-sidebars #main .region-sidebar-first, .two-sidebars #main .region-sidebar-second, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .two-sidebars #content .g-all-half, .one-sidebar #content .g-all-1of3, .g-tl-3, .one-sidebar #main .region-sidebar-first, .one-sidebar #main .region-sidebar-second, .two-sidebars #main .region-sidebar-first, .two-sidebars #main .region-sidebar-second, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .two-sidebars #content .g-all-half, .one-sidebar #content .g-all-1of3, .g-t-4, .no-sidebars #content .g-all-1of3, .two-sidebars #content .g-all-2of3, .g-tl-4, .no-sidebars #content .g-all-1of3, .two-sidebars #content .g-all-2of3, .g-t-5, .g-tl-5, .g-t-6, .two-sidebars #main #content, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-half, .one-sidebar #content .g-all-2of3, .g-tl-6, .two-sidebars #main #content, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-half, .one-sidebar #content .g-all-2of3, .g-t-7, .g-tl-7, .g-t-8, .no-sidebars #content .g-all-2of3, .g-tl-8, .no-sidebars #content .g-all-2of3, .g-t-9, .one-sidebar #main #content, .one-sidebar #content .g-all-full, .g-tl-9, .one-sidebar #main #content, .one-sidebar #content .g-all-full, .g-t-10, .g-tl-10, .g-t-11, .g-tl-11, .g-t-12, #header, .no-sidebars #main #content, #footer .region-footer, .no-sidebars #content .g-all-full, .g-tl-12, #header, .no-sidebars #main #content, #footer .region-footer, .no-sidebars #content .g-all-full, .g-d-1, #navigation li, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3, .g-d-2, .two-sidebars #content .g-all-1of3, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3, .g-d-3, .one-sidebar #main .region-sidebar-first, .one-sidebar #main .region-sidebar-second, .two-sidebars #main .region-sidebar-first, .two-sidebars #main .region-sidebar-second, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .two-sidebars #content .g-all-half, .one-sidebar #content .g-all-1of3, .g-d-4, .no-sidebars #content .g-all-1of3, .two-sidebars #content .g-all-2of3, .g-d-5, .g-d-6, .two-sidebars #main #content, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-half, .one-sidebar #content .g-all-2of3, .g-d-7, .g-d-8, .no-sidebars #content .g-all-2of3, .g-d-9, .one-sidebar #main #content, .one-sidebar #content .g-all-full, .g-d-10, .g-d-11, .g-d-12, #header, .no-sidebars #main #content, #footer .region-footer, .no-sidebars #content .g-all-full {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
}

.g-h-1 {
  width: 15px;
}

.g-h-2 {
  width: 40px;
}

.g-h-3 {
  width: 65px;
}

.g-h-4, #navigation li, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3, .one-sidebar #content .g-all-1of3, .two-sidebars #content .g-all-1of3, .no-sidebars #content .g-all-1of3 {
  width: 90px;
}

.g-h-5 {
  width: 115.0px;
}

.g-h-6, .one-sidebar .region-sidebar-first .g-all-half, .one-sidebar .region-sidebar-second .g-all-half, .two-sidebars .region-sidebar-first .g-all-half, .two-sidebars .region-sidebar-second .g-all-half, .one-sidebar #content .g-all-half, .two-sidebars #content .g-all-half, .no-sidebars #content .g-all-half {
  width: 140px;
}

.g-h-7 {
  width: 165px;
}

.g-h-8, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3, .one-sidebar #content .g-all-2of3, .two-sidebars #content .g-all-2of3, .no-sidebars #content .g-all-2of3 {
  width: 190px;
}

.g-h-9 {
  width: 215px;
}

.g-h-10 {
  width: 240px;
}

.g-h-11 {
  width: 265px;
}

.g-h-12, #header, .one-sidebar #main .region-sidebar-first, .one-sidebar #main #content, .one-sidebar #main .region-sidebar-second, .two-sidebars #main .region-sidebar-first, .two-sidebars #main #content, .two-sidebars #main .region-sidebar-second, .no-sidebars #main #content, #footer .region-footer, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .one-sidebar #content .g-all-full, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-full {
  width: 290px;
}

.g-h-o1 {
  margin-left: 25px;
}

.g-h-o2 {
  margin-left: 50px;
}

.g-h-o3 {
  margin-left: 75px;
}

.g-h-o4 {
  margin-left: 100px;
}

.g-h-o5 {
  margin-left: 125.0px;
}

.g-h-o6 {
  margin-left: 150px;
}

.g-h-o7 {
  margin-left: 175px;
}

.g-h-o8 {
  margin-left: 200px;
}

.g-h-o9 {
  margin-left: 225px;
}

.g-h-o10 {
  margin-left: 250px;
}

.g-h-o11 {
  margin-left: 275px;
}

.g-h-o12 {
  margin-left: 300px;
}

.row {
  width: 300.0px;
  overflow: hidden;
  *zoom: 1;
  margin-right: 5px;
  margin-left: 5px;
}
.row .row {
  margin-right: -5px;
  margin-left: -5px;
}

@media only screen and (min-width: 480px) {
  #page {
    width: 430px;
  }

  html {
    -webkit-text-size-adjust: none;
  }

  .row {
    width: 420.0px;
  }

  .g-hl-1 {
    width: 25px;
  }

  .g-hl-2 {
    width: 60px;
  }

  .g-hl-3 {
    width: 95px;
  }

  .g-hl-4, #navigation li, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3, .one-sidebar #content .g-all-1of3, .two-sidebars #content .g-all-1of3, .no-sidebars #content .g-all-1of3 {
    width: 130px;
  }

  .g-hl-5 {
    width: 165px;
  }

  .g-hl-6, .one-sidebar .region-sidebar-first .g-all-half, .one-sidebar .region-sidebar-second .g-all-half, .two-sidebars .region-sidebar-first .g-all-half, .two-sidebars .region-sidebar-second .g-all-half, .one-sidebar #content .g-all-half, .two-sidebars #content .g-all-half, .no-sidebars #content .g-all-half {
    width: 200px;
  }

  .g-hl-7 {
    width: 235px;
  }

  .g-hl-8, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3, .one-sidebar #content .g-all-2of3, .two-sidebars #content .g-all-2of3, .no-sidebars #content .g-all-2of3 {
    width: 270px;
  }

  .g-hl-9 {
    width: 305px;
  }

  .g-hl-10 {
    width: 340px;
  }

  .g-hl-11 {
    width: 375px;
  }

  .g-hl-12, #header, .one-sidebar #main .region-sidebar-first, .one-sidebar #main #content, .one-sidebar #main .region-sidebar-second, .two-sidebars #main .region-sidebar-first, .two-sidebars #main #content, .two-sidebars #main .region-sidebar-second, .no-sidebars #main #content, #footer .region-footer, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .one-sidebar #content .g-all-full, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-full {
    width: 410px;
  }

  .g-hl-o1 {
    margin-left: 35px;
  }

  .g-hl-o2 {
    margin-left: 70px;
  }

  .g-hl-o3 {
    margin-left: 105px;
  }

  .g-hl-o4 {
    margin-left: 140px;
  }

  .g-hl-o5 {
    margin-left: 175px;
  }

  .g-hl-o6 {
    margin-left: 210px;
  }

  .g-hl-o7 {
    margin-left: 245px;
  }

  .g-hl-o8 {
    margin-left: 280px;
  }

  .g-hl-o9 {
    margin-left: 315px;
  }

  .g-hl-o10 {
    margin-left: 350px;
  }

  .g-hl-o11 {
    margin-left: 385px;
  }

  .g-hl-o12 {
    margin-left: 420px;
  }
}
@media only screen and (min-width: 768px) {
  #page {
    width: 778px;
  }

  .row {
    width: 768px;
  }

  .g-t-1, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3 {
    width: 54px;
  }

  .g-t-2, #navigation li, .two-sidebars #content .g-all-1of3, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3 {
    width: 118px;
  }

  .g-t-3, .one-sidebar #main .region-sidebar-first, .one-sidebar #main .region-sidebar-second, .two-sidebars #main .region-sidebar-first, .two-sidebars #main .region-sidebar-second, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .two-sidebars #content .g-all-half, .one-sidebar #content .g-all-1of3 {
    width: 182px;
  }

  .g-t-4, .no-sidebars #content .g-all-1of3, .two-sidebars #content .g-all-2of3 {
    width: 246px;
  }

  .g-t-5 {
    width: 310px;
  }

  .g-t-6, .two-sidebars #main #content, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-half, .one-sidebar #content .g-all-2of3 {
    width: 374px;
  }

  .g-t-7 {
    width: 438px;
  }

  .g-t-8, .no-sidebars #content .g-all-2of3 {
    width: 502px;
  }

  .g-t-9, .one-sidebar #main #content, .one-sidebar #content .g-all-full {
    width: 566px;
  }

  .g-t-10 {
    width: 630px;
  }

  .g-t-11 {
    width: 694px;
  }

  .g-t-12, #header, .no-sidebars #main #content, #footer .region-footer, .no-sidebars #content .g-all-full {
    width: 758px;
  }

  .g-t-o1 {
    margin-left: 64px;
  }

  .g-t-o2 {
    margin-left: 128px;
  }

  .g-t-o3 {
    margin-left: 192px;
  }

  .g-t-o4 {
    margin-left: 256px;
  }

  .g-t-o5 {
    margin-left: 320px;
  }

  .g-t-o6 {
    margin-left: 384px;
  }

  .g-t-o7 {
    margin-left: 448px;
  }

  .g-t-o8 {
    margin-left: 512px;
  }

  .g-t-o9 {
    margin-left: 576px;
  }

  .g-t-o10 {
    margin-left: 640px;
  }

  .g-t-o11 {
    margin-left: 704px;
  }

  .g-t-o12 {
    margin-left: 768px;
  }
}
@media only screen and (min-width: 960px) {
  #page {
    width: 970px;
  }

  .row {
    width: 960.0px;
  }

  .g-tl-1, #navigation li, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3 {
    width: 70px;
  }

  .g-tl-2, .two-sidebars #content .g-all-1of3, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3 {
    width: 150px;
  }

  .g-tl-3, .one-sidebar #main .region-sidebar-first, .one-sidebar #main .region-sidebar-second, .two-sidebars #main .region-sidebar-first, .two-sidebars #main .region-sidebar-second, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .two-sidebars #content .g-all-half, .one-sidebar #content .g-all-1of3 {
    width: 230px;
  }

  .g-tl-4, .no-sidebars #content .g-all-1of3, .two-sidebars #content .g-all-2of3 {
    width: 310px;
  }

  .g-tl-5 {
    width: 390px;
  }

  .g-tl-6, .two-sidebars #main #content, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-half, .one-sidebar #content .g-all-2of3 {
    width: 470px;
  }

  .g-tl-7 {
    width: 550px;
  }

  .g-tl-8, .no-sidebars #content .g-all-2of3 {
    width: 630px;
  }

  .g-tl-9, .one-sidebar #main #content, .one-sidebar #content .g-all-full {
    width: 710px;
  }

  .g-tl-10 {
    width: 790px;
  }

  .g-tl-11 {
    width: 870px;
  }

  .g-tl-12, #header, .no-sidebars #main #content, #footer .region-footer, .no-sidebars #content .g-all-full {
    width: 950px;
  }

  .g-tl-o1 {
    margin-left: 80px;
  }

  .g-tl-o2 {
    margin-left: 160px;
  }

  .g-tl-o3 {
    margin-left: 240px;
  }

  .g-tl-o4 {
    margin-left: 320px;
  }

  .g-tl-o5 {
    margin-left: 400px;
  }

  .g-tl-o6 {
    margin-left: 480px;
  }

  .g-tl-o7 {
    margin-left: 560px;
  }

  .g-tl-o8 {
    margin-left: 640px;
  }

  .g-tl-o9 {
    margin-left: 720px;
  }

  .g-tl-o10 {
    margin-left: 800px;
  }

  .g-tl-o11 {
    margin-left: 880px;
  }

  .g-tl-o12 {
    margin-left: 960px;
  }
}
@media only screen and (min-width: 1160px) {
  #page {
    width: 1150px;
  }

  .row {
    width: 1140px;
  }

  .g-d-1, #navigation li, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3 {
    width: 85px;
  }

  .g-d-2, .two-sidebars #content .g-all-1of3, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3 {
    width: 180px;
  }

  .g-d-3, .one-sidebar #main .region-sidebar-first, .one-sidebar #main .region-sidebar-second, .two-sidebars #main .region-sidebar-first, .two-sidebars #main .region-sidebar-second, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .two-sidebars #content .g-all-half, .one-sidebar #content .g-all-1of3 {
    width: 275px;
  }

  .g-d-4, .no-sidebars #content .g-all-1of3, .two-sidebars #content .g-all-2of3 {
    width: 370px;
  }

  .g-d-5 {
    width: 465px;
  }

  .g-d-6, .two-sidebars #main #content, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-half, .one-sidebar #content .g-all-2of3 {
    width: 560px;
  }

  .g-d-7 {
    width: 655px;
  }

  .g-d-8, .no-sidebars #content .g-all-2of3 {
    width: 750px;
  }

  .g-d-9, .one-sidebar #main #content, .one-sidebar #content .g-all-full {
    width: 845px;
  }

  .g-d-10 {
    width: 940px;
  }

  .g-d-11 {
    width: 1035px;
  }

  .g-d-12, #header, .no-sidebars #main #content, #footer .region-footer, .no-sidebars #content .g-all-full {
    width: 1130px;
  }

  .g-d-o1 {
    margin-left: 95px;
  }

  .g-d-o2 {
    margin-left: 190px;
  }

  .g-d-o3 {
    margin-left: 285px;
  }

  .g-d-o4 {
    margin-left: 380px;
  }

  .g-d-o5 {
    margin-left: 475px;
  }

  .g-d-o6 {
    margin-left: 570px;
  }

  .g-d-o7 {
    margin-left: 665px;
  }

  .g-d-o8 {
    margin-left: 760px;
  }

  .g-d-o9 {
    margin-left: 855px;
  }

  .g-d-o10 {
    margin-left: 950px;
  }

  .g-d-o11 {
    margin-left: 1045px;
  }

  .g-d-o12 {
    margin-left: 1140px;
  }
}
.ie6 #page {
  width: 960px;
  margin: 0 auto;
}

.demo-container {
  background-color: #afafaf;
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 1.385em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.desktop-visible,
.tablet-landscape-visible,
.tablet-visible,
.tablet-all-visible,
.handheld-landscape-visible,
.handheld-all-visible {
  display: none;
}

@media only screen and (min-width: 1px) and (max-width: 767px) {
  .desktop-visible, .tablet-visible, .tablet-landscape-visible {
    display: none !important;
  }

  .handheld-all-visible {
    display: block !important;
  }

  a.handheld-all-visible, abbr.handheld-all-visible, acronym.handheld-all-visible, audio.handheld-all-visible, b.handheld-all-visible, basefont.handheld-all-visible, bdo.handheld-all-visible, big.handheld-all-visible, br.handheld-all-visible, canvas.handheld-all-visible, cite.handheld-all-visible, code.handheld-all-visible, command.handheld-all-visible, datalist.handheld-all-visible, dfn.handheld-all-visible, em.handheld-all-visible, embed.handheld-all-visible, font.handheld-all-visible, i.handheld-all-visible, img.handheld-all-visible, input.handheld-all-visible, keygen.handheld-all-visible, kbd.handheld-all-visible, label.handheld-all-visible, mark.handheld-all-visible, meter.handheld-all-visible, output.handheld-all-visible, progress.handheld-all-visible, q.handheld-all-visible, rp.handheld-all-visible, rt.handheld-all-visible, ruby.handheld-all-visible, s.handheld-all-visible, samp.handheld-all-visible, select.handheld-all-visible, small.handheld-all-visible, span.handheld-all-visible, strike.handheld-all-visible, strong.handheld-all-visible, sub.handheld-all-visible, sup.handheld-all-visible, textarea.handheld-all-visible, time.handheld-all-visible, tt.handheld-all-visible, u.handheld-all-visible, var.handheld-all-visible, video.handheld-all-visible, wbr.handheld-all-visible {
    display: inline !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .desktop-visible, .tablet-visible, .tablet-landscape-visible, .handheld-visible {
    display: none !important;
  }

  .handheld-landscape-visible {
    display: block !important;
  }

  a.handheld-landscape-visible, abbr.handheld-landscape-visible, acronym.handheld-landscape-visible, audio.handheld-landscape-visible, b.handheld-landscape-visible, basefont.handheld-landscape-visible, bdo.handheld-landscape-visible, big.handheld-landscape-visible, br.handheld-landscape-visible, canvas.handheld-landscape-visible, cite.handheld-landscape-visible, code.handheld-landscape-visible, command.handheld-landscape-visible, datalist.handheld-landscape-visible, dfn.handheld-landscape-visible, em.handheld-landscape-visible, embed.handheld-landscape-visible, font.handheld-landscape-visible, i.handheld-landscape-visible, img.handheld-landscape-visible, input.handheld-landscape-visible, keygen.handheld-landscape-visible, kbd.handheld-landscape-visible, label.handheld-landscape-visible, mark.handheld-landscape-visible, meter.handheld-landscape-visible, output.handheld-landscape-visible, progress.handheld-landscape-visible, q.handheld-landscape-visible, rp.handheld-landscape-visible, rt.handheld-landscape-visible, ruby.handheld-landscape-visible, s.handheld-landscape-visible, samp.handheld-landscape-visible, select.handheld-landscape-visible, small.handheld-landscape-visible, span.handheld-landscape-visible, strike.handheld-landscape-visible, strong.handheld-landscape-visible, sub.handheld-landscape-visible, sup.handheld-landscape-visible, textarea.handheld-landscape-visible, time.handheld-landscape-visible, tt.handheld-landscape-visible, u.handheld-landscape-visible, var.handheld-landscape-visible, video.handheld-landscape-visible, wbr.handheld-landscape-visible {
    display: inline !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1159px) {
  .desktop-visible, .handheld-landscape-visible, .handheld-visible {
    display: none !important;
  }

  .tablet-all-visible {
    display: block !important;
  }

  a.tablet-all-visible, abbr.tablet-all-visible, acronym.tablet-all-visible, audio.tablet-all-visible, b.tablet-all-visible, basefont.tablet-all-visible, bdo.tablet-all-visible, big.tablet-all-visible, br.tablet-all-visible, canvas.tablet-all-visible, cite.tablet-all-visible, code.tablet-all-visible, command.tablet-all-visible, datalist.tablet-all-visible, dfn.tablet-all-visible, em.tablet-all-visible, embed.tablet-all-visible, font.tablet-all-visible, i.tablet-all-visible, img.tablet-all-visible, input.tablet-all-visible, keygen.tablet-all-visible, kbd.tablet-all-visible, label.tablet-all-visible, mark.tablet-all-visible, meter.tablet-all-visible, output.tablet-all-visible, progress.tablet-all-visible, q.tablet-all-visible, rp.tablet-all-visible, rt.tablet-all-visible, ruby.tablet-all-visible, s.tablet-all-visible, samp.tablet-all-visible, select.tablet-all-visible, small.tablet-all-visible, span.tablet-all-visible, strike.tablet-all-visible, strong.tablet-all-visible, sub.tablet-all-visible, sup.tablet-all-visible, textarea.tablet-all-visible, time.tablet-all-visible, tt.tablet-all-visible, u.tablet-all-visible, var.tablet-all-visible, video.tablet-all-visible, wbr.tablet-all-visible {
    display: inline !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .desktop-visible, .tablet-landscape-visible, .handheld-landscape-visible, .handheld-visible {
    display: none !important;
  }

  .tablet-visible {
    display: block !important;
  }

  a.tablet-visible, abbr.tablet-visible, acronym.tablet-visible, audio.tablet-visible, b.tablet-visible, basefont.tablet-visible, bdo.tablet-visible, big.tablet-visible, br.tablet-visible, canvas.tablet-visible, cite.tablet-visible, code.tablet-visible, command.tablet-visible, datalist.tablet-visible, dfn.tablet-visible, em.tablet-visible, embed.tablet-visible, font.tablet-visible, i.tablet-visible, img.tablet-visible, input.tablet-visible, keygen.tablet-visible, kbd.tablet-visible, label.tablet-visible, mark.tablet-visible, meter.tablet-visible, output.tablet-visible, progress.tablet-visible, q.tablet-visible, rp.tablet-visible, rt.tablet-visible, ruby.tablet-visible, s.tablet-visible, samp.tablet-visible, select.tablet-visible, small.tablet-visible, span.tablet-visible, strike.tablet-visible, strong.tablet-visible, sub.tablet-visible, sup.tablet-visible, textarea.tablet-visible, time.tablet-visible, tt.tablet-visible, u.tablet-visible, var.tablet-visible, video.tablet-visible, wbr.tablet-visible {
    display: inline !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1159px) {
  .desktop-visible, .tablet-visible, .handheld-landscape-visible, .handheld-visible {
    display: none !important;
  }

  .tablet-landscape-visible {
    display: block !important;
  }

  a.tablet-landscape-visible, abbr.tablet-landscape-visible, acronym.tablet-landscape-visible, audio.tablet-landscape-visible, b.tablet-landscape-visible, basefont.tablet-landscape-visible, bdo.tablet-landscape-visible, big.tablet-landscape-visible, br.tablet-landscape-visible, canvas.tablet-landscape-visible, cite.tablet-landscape-visible, code.tablet-landscape-visible, command.tablet-landscape-visible, datalist.tablet-landscape-visible, dfn.tablet-landscape-visible, em.tablet-landscape-visible, embed.tablet-landscape-visible, font.tablet-landscape-visible, i.tablet-landscape-visible, img.tablet-landscape-visible, input.tablet-landscape-visible, keygen.tablet-landscape-visible, kbd.tablet-landscape-visible, label.tablet-landscape-visible, mark.tablet-landscape-visible, meter.tablet-landscape-visible, output.tablet-landscape-visible, progress.tablet-landscape-visible, q.tablet-landscape-visible, rp.tablet-landscape-visible, rt.tablet-landscape-visible, ruby.tablet-landscape-visible, s.tablet-landscape-visible, samp.tablet-landscape-visible, select.tablet-landscape-visible, small.tablet-landscape-visible, span.tablet-landscape-visible, strike.tablet-landscape-visible, strong.tablet-landscape-visible, sub.tablet-landscape-visible, sup.tablet-landscape-visible, textarea.tablet-landscape-visible, time.tablet-landscape-visible, tt.tablet-landscape-visible, u.tablet-landscape-visible, var.tablet-landscape-visible, video.tablet-landscape-visible, wbr.tablet-landscape-visible {
    display: inline !important;
  }
}
@media only screen and (min-width: 1160px) {
  .tablet-visible, .tablet-landscape-visible, .handheld-landscape-visible, .handheld-visible {
    display: none !important;
  }

  .desktop-visible {
    display: block !important;
  }

  a.desktop-visible, abbr.desktop-visible, acronym.desktop-visible, audio.desktop-visible, b.desktop-visible, basefont.desktop-visible, bdo.desktop-visible, big.desktop-visible, br.desktop-visible, canvas.desktop-visible, cite.desktop-visible, code.desktop-visible, command.desktop-visible, datalist.desktop-visible, dfn.desktop-visible, em.desktop-visible, embed.desktop-visible, font.desktop-visible, i.desktop-visible, img.desktop-visible, input.desktop-visible, keygen.desktop-visible, kbd.desktop-visible, label.desktop-visible, mark.desktop-visible, meter.desktop-visible, output.desktop-visible, progress.desktop-visible, q.desktop-visible, rp.desktop-visible, rt.desktop-visible, ruby.desktop-visible, s.desktop-visible, samp.desktop-visible, select.desktop-visible, small.desktop-visible, span.desktop-visible, strike.desktop-visible, strong.desktop-visible, sub.desktop-visible, sup.desktop-visible, textarea.desktop-visible, time.desktop-visible, tt.desktop-visible, u.desktop-visible, var.desktop-visible, video.desktop-visible, wbr.desktop-visible {
    display: inline !important;
  }
}
