@media only screen and (min-width: 980px) and (max-width: 1159px) {
  .inside {
    width: 970px;
  }

  .g-all-row {
    width: 960.0px;
  }

  .g-d-o1, .g-d-pull1, .g-d-o2, .g-d-pull2, .g-d-o3, .g-d-pull3, .g-d-o4, .g-d-pull4, .g-d-o5, .g-d-pull5, .g-d-o6, .g-d-pull6, .g-d-o7, .g-d-pull7, .g-d-o8, .g-d-pull8, .g-d-o9, .g-d-pull9, .g-d-o10, .g-d-pull10, .g-d-o11, .g-d-pull11, .g-d-o12, .g-d-pull12 {
    margin-left: 0;
  }

  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 {
    margin-left: 0;
    margin-right: 0;
  }

  .g-tl-1, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3 {
    width: 70px;
  }

  .g-tl-2, #navigation li, .two-sidebars #content .g-all-1of3, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3 {
    width: 150px;
  }

  .g-tl-3, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .two-sidebars #content .g-all-half, .one-sidebar #content .g-all-1of3 {
    width: 230px;
  }

  .g-tl-4, .no-sidebars #content .g-all-1of3, .two-sidebars #content .g-all-2of3 {
    width: 310px;
  }

  .g-tl-5 {
    width: 390px;
  }

  .g-tl-6, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-half, .one-sidebar #content .g-all-2of3 {
    width: 470px;
  }

  .g-tl-7 {
    width: 550px;
  }

  .g-tl-8, .no-sidebars #content .g-all-2of3 {
    width: 630px;
  }

  .g-tl-9, .one-sidebar #content .g-all-full {
    width: 710px;
  }

  .g-tl-10 {
    width: 790px;
  }

  .g-tl-11 {
    width: 870px;
  }

  .g-tl-12, .no-sidebars #content .g-all-full {
    width: 950px;
  }

  .g-tl-o1 {
    margin-left: 80px;
  }

  .g-tl-o2 {
    margin-left: 160px;
  }

  .g-tl-o3 {
    margin-left: 240px;
  }

  .g-tl-o4 {
    margin-left: 320px;
  }

  .g-tl-o5 {
    margin-left: 400px;
  }

  .g-tl-o6 {
    margin-left: 480px;
  }

  .g-tl-o7 {
    margin-left: 560px;
  }

  .g-tl-o8 {
    margin-left: 640px;
  }

  .g-tl-o9 {
    margin-left: 720px;
  }

  .g-tl-o10 {
    margin-left: 800px;
  }

  .g-tl-o11 {
    margin-left: 880px;
  }

  .g-tl-push1 {
    margin-left: 85px;
    margin-right: -75px;
  }

  .g-tl-push2 {
    margin-left: 165px;
    margin-right: -155px;
  }

  .g-tl-push3 {
    margin-left: 245px;
    margin-right: -235px;
  }

  .g-tl-push4 {
    margin-left: 325px;
    margin-right: -315px;
  }

  .g-tl-push5 {
    margin-left: 405px;
    margin-right: -395px;
  }

  .g-tl-push6 {
    margin-left: 485px;
    margin-right: -475px;
  }

  .g-tl-push7 {
    margin-left: 565px;
    margin-right: -555px;
  }

  .g-tl-push8 {
    margin-left: 645px;
    margin-right: -635px;
  }

  .g-tl-push9 {
    margin-left: 725px;
    margin-right: -715px;
  }

  .g-tl-push10 {
    margin-left: 805px;
    margin-right: -795px;
  }

  .g-tl-push11 {
    margin-left: 885px;
    margin-right: -875px;
  }

  .g-tl-pull1 {
    margin-left: -75px;
  }

  .g-tl-pull2 {
    margin-left: -155px;
  }

  .g-tl-pull3 {
    margin-left: -235px;
  }

  .g-tl-pull4 {
    margin-left: -315px;
  }

  .g-tl-pull5 {
    margin-left: -395px;
  }

  .g-tl-pull6 {
    margin-left: -475px;
  }

  .g-tl-pull7 {
    margin-left: -555px;
  }

  .g-tl-pull8 {
    margin-left: -635px;
  }

  .g-tl-pull9 {
    margin-left: -715px;
  }

  .g-tl-pull10 {
    margin-left: -795px;
  }

  .g-tl-pull11 {
    margin-left: -875px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .inside {
    width: 754px;
  }

  .g-all-row {
    width: 744px;
  }

  .g-d-o1, .g-d-pull1, .g-d-o2, .g-d-pull2, .g-d-o3, .g-d-pull3, .g-d-o4, .g-d-pull4, .g-d-o5, .g-d-pull5, .g-d-o6, .g-d-pull6, .g-d-o7, .g-d-pull7, .g-d-o8, .g-d-pull8, .g-d-o9, .g-d-pull9, .g-d-o10, .g-d-pull10, .g-d-o11, .g-d-pull11, .g-d-o12, .g-d-pull12 {
    margin-left: 0;
  }

  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 {
    margin-left: 0;
    margin-right: 0;
  }

  .g-t-1, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3 {
    width: 52.0px;
  }

  .g-t-2, #navigation li, .two-sidebars #content .g-all-1of3, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3 {
    width: 114px;
  }

  .g-t-3, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .two-sidebars #content .g-all-half, .one-sidebar #content .g-all-1of3 {
    width: 176px;
  }

  .g-t-4, .no-sidebars #content .g-all-1of3, .two-sidebars #content .g-all-2of3 {
    width: 238px;
  }

  .g-t-5 {
    width: 300px;
  }

  .g-t-6, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-half, .one-sidebar #content .g-all-2of3 {
    width: 362px;
  }

  .g-t-7 {
    width: 424.0px;
  }

  .g-t-8, .no-sidebars #content .g-all-2of3 {
    width: 486px;
  }

  .g-t-9, .one-sidebar #content .g-all-full {
    width: 548px;
  }

  .g-t-10 {
    width: 610px;
  }

  .g-t-11 {
    width: 672px;
  }

  .g-t-12, .no-sidebars #content .g-all-full {
    width: 734px;
  }

  .g-t-o1 {
    margin-left: 62.0px;
  }

  .g-t-o2 {
    margin-left: 124px;
  }

  .g-t-o3 {
    margin-left: 186px;
  }

  .g-t-o4 {
    margin-left: 248px;
  }

  .g-t-o5 {
    margin-left: 310px;
  }

  .g-t-o6 {
    margin-left: 372px;
  }

  .g-t-o7 {
    margin-left: 434.0px;
  }

  .g-t-o8 {
    margin-left: 496px;
  }

  .g-t-o9 {
    margin-left: 558px;
  }

  .g-t-o10 {
    margin-left: 620px;
  }

  .g-t-o11 {
    margin-left: 682px;
  }

  .g-t-push1 {
    margin-left: 67px;
    margin-right: -57.0px;
  }

  .g-t-push2 {
    margin-left: 129px;
    margin-right: -119px;
  }

  .g-t-push3 {
    margin-left: 191px;
    margin-right: -181px;
  }

  .g-t-push4 {
    margin-left: 253px;
    margin-right: -243px;
  }

  .g-t-push5 {
    margin-left: 315px;
    margin-right: -305px;
  }

  .g-t-push6 {
    margin-left: 377px;
    margin-right: -367px;
  }

  .g-t-push7 {
    margin-left: 439.0px;
    margin-right: -429.0px;
  }

  .g-t-push8 {
    margin-left: 501px;
    margin-right: -491px;
  }

  .g-t-push9 {
    margin-left: 563px;
    margin-right: -553px;
  }

  .g-t-push10 {
    margin-left: 625px;
    margin-right: -615px;
  }

  .g-t-push11 {
    margin-left: 687px;
    margin-right: -677px;
  }

  .g-t-pull1 {
    margin-left: -57.0px;
  }

  .g-t-pull2 {
    margin-left: -119px;
  }

  .g-t-pull3 {
    margin-left: -181px;
  }

  .g-t-pull4 {
    margin-left: -243px;
  }

  .g-t-pull5 {
    margin-left: -305px;
  }

  .g-t-pull6 {
    margin-left: -367px;
  }

  .g-t-pull7 {
    margin-left: -429.0px;
  }

  .g-t-pull8 {
    margin-left: -491px;
  }

  .g-t-pull9 {
    margin-left: -553px;
  }

  .g-t-pull10 {
    margin-left: -615px;
  }

  .g-t-pull11 {
    margin-left: -677px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .inside {
    width: 430px;
  }

  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }

  .g-all-row {
    width: 420.0px;
  }

  .g-d-o1, .g-d-pull1, .g-d-o2, .g-d-pull2, .g-d-o3, .g-d-pull3, .g-d-o4, .g-d-pull4, .g-d-o5, .g-d-pull5, .g-d-o6, .g-d-pull6, .g-d-o7, .g-d-pull7, .g-d-o8, .g-d-pull8, .g-d-o9, .g-d-pull9, .g-d-o10, .g-d-pull10, .g-d-o11, .g-d-pull11, .g-d-o12, .g-d-pull12 {
    margin-left: 0;
  }

  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 {
    margin-left: 0;
    margin-right: 0;
  }

  .g-hl-1 {
    width: 25px;
  }

  .g-hl-2 {
    width: 60px;
  }

  .g-hl-3 {
    width: 95px;
  }

  .g-hl-4, #navigation li, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3, .one-sidebar #content .g-all-1of3, .two-sidebars #content .g-all-1of3, .no-sidebars #content .g-all-1of3 {
    width: 130px;
  }

  .g-hl-5 {
    width: 165px;
  }

  .g-hl-6, .one-sidebar .region-sidebar-first .g-all-half, .one-sidebar .region-sidebar-second .g-all-half, .two-sidebars .region-sidebar-first .g-all-half, .two-sidebars .region-sidebar-second .g-all-half, .one-sidebar #content .g-all-half, .two-sidebars #content .g-all-half, .no-sidebars #content .g-all-half {
    width: 200px;
  }

  .g-hl-7 {
    width: 235px;
  }

  .g-hl-8, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3, .one-sidebar #content .g-all-2of3, .two-sidebars #content .g-all-2of3, .no-sidebars #content .g-all-2of3 {
    width: 270px;
  }

  .g-hl-9 {
    width: 305px;
  }

  .g-hl-10 {
    width: 340px;
  }

  .g-hl-11 {
    width: 375px;
  }

  .g-hl-12, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .one-sidebar #content .g-all-full, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-full {
    width: 410px;
  }

  .g-hl-o1 {
    margin-left: 35px;
  }

  .g-hl-o2 {
    margin-left: 70px;
  }

  .g-hl-o3 {
    margin-left: 105px;
  }

  .g-hl-o4 {
    margin-left: 140px;
  }

  .g-hl-o5 {
    margin-left: 175px;
  }

  .g-hl-o6 {
    margin-left: 210px;
  }

  .g-hl-o7 {
    margin-left: 245px;
  }

  .g-hl-o8 {
    margin-left: 280px;
  }

  .g-hl-o9 {
    margin-left: 315px;
  }

  .g-hl-o10 {
    margin-left: 350px;
  }

  .g-hl-o11 {
    margin-left: 385px;
  }

  .g-hl-push1 {
    margin-left: 40px;
    margin-right: -30px;
  }

  .g-hl-push2 {
    margin-left: 75px;
    margin-right: -65px;
  }

  .g-hl-push3 {
    margin-left: 110px;
    margin-right: -100px;
  }

  .g-hl-push4 {
    margin-left: 145px;
    margin-right: -135px;
  }

  .g-hl-push5 {
    margin-left: 180px;
    margin-right: -170px;
  }

  .g-hl-push6 {
    margin-left: 215px;
    margin-right: -205px;
  }

  .g-hl-push7 {
    margin-left: 250px;
    margin-right: -240px;
  }

  .g-hl-push8 {
    margin-left: 285px;
    margin-right: -275px;
  }

  .g-hl-push9 {
    margin-left: 320px;
    margin-right: -310px;
  }

  .g-hl-push10 {
    margin-left: 355px;
    margin-right: -345px;
  }

  .g-hl-push11 {
    margin-left: 390px;
    margin-right: -380px;
  }

  .g-hl-pull1 {
    margin-left: -30px;
  }

  .g-hl-pull2 {
    margin-left: -65px;
  }

  .g-hl-pull3 {
    margin-left: -100px;
  }

  .g-hl-pull4 {
    margin-left: -135px;
  }

  .g-hl-pull5 {
    margin-left: -170px;
  }

  .g-hl-pull6 {
    margin-left: -205px;
  }

  .g-hl-pull7 {
    margin-left: -240px;
  }

  .g-hl-pull8 {
    margin-left: -275px;
  }

  .g-hl-pull9 {
    margin-left: -310px;
  }

  .g-hl-pull10 {
    margin-left: -345px;
  }

  .g-hl-pull11 {
    margin-left: -380px;
  }
}
@media only screen and (max-width: 479px) {
  .inside {
    width: 310px;
  }

  .g-all-row {
    width: 300.0px;
  }

  .g-d-o1, .g-d-pull1, .g-d-o2, .g-d-pull2, .g-d-o3, .g-d-pull3, .g-d-o4, .g-d-pull4, .g-d-o5, .g-d-pull5, .g-d-o6, .g-d-pull6, .g-d-o7, .g-d-pull7, .g-d-o8, .g-d-pull8, .g-d-o9, .g-d-pull9, .g-d-o10, .g-d-pull10, .g-d-o11, .g-d-pull11, .g-d-o12, .g-d-pull12 {
    margin-left: 0;
  }

  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 {
    margin-left: 0;
    margin-right: 0;
  }

  .g-h-1 {
    width: 15px;
  }

  .g-h-2 {
    width: 40px;
  }

  .g-h-3 {
    width: 65px;
  }

  .g-h-4, #navigation li, .one-sidebar .region-sidebar-first .g-all-1of3, .one-sidebar .region-sidebar-second .g-all-1of3, .two-sidebars .region-sidebar-first .g-all-1of3, .two-sidebars .region-sidebar-second .g-all-1of3, .one-sidebar #content .g-all-1of3, .two-sidebars #content .g-all-1of3, .no-sidebars #content .g-all-1of3 {
    width: 90px;
  }

  .g-h-5 {
    width: 115.0px;
  }

  .g-h-6, .one-sidebar .region-sidebar-first .g-all-half, .one-sidebar .region-sidebar-second .g-all-half, .two-sidebars .region-sidebar-first .g-all-half, .two-sidebars .region-sidebar-second .g-all-half, .one-sidebar #content .g-all-half, .two-sidebars #content .g-all-half, .no-sidebars #content .g-all-half {
    width: 140px;
  }

  .g-h-7 {
    width: 165px;
  }

  .g-h-8, .one-sidebar .region-sidebar-first .g-all-2of3, .one-sidebar .region-sidebar-second .g-all-2of3, .two-sidebars .region-sidebar-first .g-all-2of3, .two-sidebars .region-sidebar-second .g-all-2of3, .one-sidebar #content .g-all-2of3, .two-sidebars #content .g-all-2of3, .no-sidebars #content .g-all-2of3 {
    width: 190px;
  }

  .g-h-9 {
    width: 215px;
  }

  .g-h-10 {
    width: 240px;
  }

  .g-h-11 {
    width: 265px;
  }

  .g-h-12, .one-sidebar .region-sidebar-first .g-all-full, .one-sidebar .region-sidebar-second .g-all-full, .two-sidebars .region-sidebar-first .g-all-full, .two-sidebars .region-sidebar-second .g-all-full, .one-sidebar #content .g-all-full, .two-sidebars #content .g-all-full, .no-sidebars #content .g-all-full {
    width: 290px;
  }

  .g-h-o1 {
    margin-left: 25px;
  }

  .g-h-o2 {
    margin-left: 50px;
  }

  .g-h-o3 {
    margin-left: 75px;
  }

  .g-h-o4 {
    margin-left: 100px;
  }

  .g-h-o5 {
    margin-left: 125.0px;
  }

  .g-h-o6 {
    margin-left: 150px;
  }

  .g-h-o7 {
    margin-left: 175px;
  }

  .g-h-o8 {
    margin-left: 200px;
  }

  .g-h-o9 {
    margin-left: 225px;
  }

  .g-h-o10 {
    margin-left: 250px;
  }

  .g-h-o11 {
    margin-left: 275px;
  }

  .g-h-push1 {
    margin-left: 30px;
    margin-right: -20px;
  }

  .g-h-push2 {
    margin-left: 55px;
    margin-right: -45px;
  }

  .g-h-push3 {
    margin-left: 80px;
    margin-right: -70px;
  }

  .g-h-push4 {
    margin-left: 105px;
    margin-right: -95px;
  }

  .g-h-push5 {
    margin-left: 130px;
    margin-right: -120.0px;
  }

  .g-h-push6 {
    margin-left: 155px;
    margin-right: -145px;
  }

  .g-h-push7 {
    margin-left: 180px;
    margin-right: -170px;
  }

  .g-h-push8 {
    margin-left: 205px;
    margin-right: -195px;
  }

  .g-h-push9 {
    margin-left: 230px;
    margin-right: -220px;
  }

  .g-h-push10 {
    margin-left: 255px;
    margin-right: -245px;
  }

  .g-h-push11 {
    margin-left: 280px;
    margin-right: -270px;
  }

  .g-h-pull1 {
    margin-left: -20px;
  }

  .g-h-pull2 {
    margin-left: -45px;
  }

  .g-h-pull3 {
    margin-left: -70px;
  }

  .g-h-pull4 {
    margin-left: -95px;
  }

  .g-h-pull5 {
    margin-left: -120.0px;
  }

  .g-h-pull6 {
    margin-left: -145px;
  }

  .g-h-pull7 {
    margin-left: -170px;
  }

  .g-h-pull8 {
    margin-left: -195px;
  }

  .g-h-pull9 {
    margin-left: -220px;
  }

  .g-h-pull10 {
    margin-left: -245px;
  }

  .g-h-pull11 {
    margin-left: -270px;
  }
}
