$handheld-columns: 12;
$tablet-columns: 12;
$desktop-columns: 12;

$_DesktopOffset: "#{enumerate(".g-d-o", 1, $desktop-columns)}";

#{$_DesktopOffset} {
  margin-left: 0;
}

$_DesktopPush: "#{enumerate(".g-d-push", 1, $desktop-columns)}";

#{$_DesktopPush} {
  margin-left: 0;
}

$_DesktopPull: "#{enumerate(".g-d-pull", 1, $desktop-columns)}";

#{$_DesktopPull} {
  margin-left: 0;
}