// Configuration
$desktop-columns: 12 !default; // the number of columns in your grid
$tablet-columns: 12 !default; // the number of columns in your grid
$handheld-columns: 12 !default; // the number of columns in your grid

$gutter-width: 10 !default;
$max-desktop-width:            1150px !default;
$max-tablet-landscape-width:   970px !default;
$max-tablet-width:             754px !default;
$max-handheld-landscape-width: 430px !default;
$max-handheld-width:           310px !default;

// Utility variables for column and grid wrapper widths — you should never need to modify these
// Handheld
$handheld-col-width:  (($max-handheld-width - $gutter-width) - ($gutter-width * $handheld-columns)) / $handheld-columns;
$handheld-grid-width: ($handheld-col-width*$handheld-columns) + ($gutter-width*$handheld-columns);
// Handheld Landscape
$handheld-landscape-col-width:  (($max-handheld-landscape-width - $gutter-width) - ($gutter-width * $handheld-columns)) / $handheld-columns;
$handheld-landscape-grid-width: ($handheld-landscape-col-width*$handheld-columns) + ($gutter-width*$handheld-columns);
// Tablet
$tablet-col-width:  (($max-tablet-width - $gutter-width) - ($gutter-width * $tablet-columns)) / $tablet-columns;
$tablet-grid-width: ($tablet-col-width*$tablet-columns) + ($gutter-width*$tablet-columns);
// Tablet Landscape
$tablet-landscape-col-width:  (($max-tablet-landscape-width - $gutter-width) - ($gutter-width * $tablet-columns)) / $tablet-columns;
$tablet-landscape-grid-width: ($tablet-landscape-col-width*$tablet-columns) + ($gutter-width*$tablet-columns);
// Desktop
$desktop-col-width:   (($max-desktop-width - $gutter-width) - ($gutter-width * $desktop-columns)) / $desktop-columns;
$desktop-grid-width:  ($desktop-col-width*$desktop-columns) + ($gutter-width*$desktop-columns);

$handheld-total-width:            $handheld-grid-width;
$handheld-landscape-total-width:  $handheld-landscape-grid-width;
$tablet-total-width:              $tablet-grid-width;
$tablet-landscape-total-width:    $tablet-landscape-grid-width;
$desktop-total-width:             $desktop-grid-width;

// Media
$handheld: "h";
$handheld-landscape: "hl";
$tablet: "t";
$tablet-landscape: "tl";
$desktop: "d";

@mixin grid($media:$desktop, $columns:$desktop-columns, $total-width:$desktop-total-width, $column-width:$desktop-col-width, $grid-width:$desktop-grid-width) {

  @if $media == $handheld {
  $columns:$handheld-columns;
  $total-width:$handheld-total-width;
  $column-width:$handheld-col-width;
  $grid-width:$handheld-grid-width;
  }
  @if $media == $handheld-landscape {
  $columns:$handheld-columns;
  $total-width:$handheld-landscape-total-width;
  $column-width:$handheld-landscape-col-width;
  $grid-width:$handheld-landscape-grid-width;
  }
  @else if $media == $tablet {
  $columns:$tablet-columns;
  $total-width:$tablet-total-width;
  $column-width:$tablet-col-width;
  $grid-width:$tablet-grid-width;
  }
  @else if $media == $tablet-landscape {
  $columns:$tablet-columns;
  $total-width:$tablet-landscape-total-width;
  $column-width:$tablet-landscape-col-width;
  $grid-width:$tablet-landscape-grid-width;
  }

  // generate column classes
  @for $n from 1 through $columns {
    .g-#{$media}-#{$n} {
      @include column($n,$columns,$total-width,$column-width,$grid-width);
    }
  }

  // generate offset classes
  @for $n from 1 through ($columns - 1) {
    .g-#{$media}-o-#{$n} {
      @include offset($n,$columns,$total-width,$column-width,$grid-width);
    }
  }

  // generate push classes
  @for $n from 1 through ($columns - 1) {
    .g-#{$media}-push-#{$n} {
      @include push($n,$columns,$total-width,$column-width,$grid-width);
    }
  }

  // generate pull classes
  @for $n from 1 through ($columns - 1) {
    .g-#{$media}-pull-#{$n} {
      @include pull($n,$columns,$total-width,$column-width,$grid-width);
    }
  }

}

@mixin row($columns:$desktop-columns,$total-width:$desktop-total-width,$grid-width:$desktop-grid-width) {
  width: $total-width*(($gutter-width + $grid-width)/$grid-width) - $gutter-width;
}

@mixin column($n,$columns:$desktop-columns,$total-width:$desktop-total-width,$column-width:$desktop-col-width,$grid-width:$desktop-grid-width) {
  width: $total-width*(((($gutter-width+$column-width)*$n)-$gutter-width) / $grid-width);
}

@mixin offset($n,$columns:$desktop-columns,$total-width:$desktop-total-width,$column-width:$desktop-col-width,$grid-width:$desktop-grid-width) {
  margin-left: ($total-width*(((($gutter-width+$column-width)*$n)-$gutter-width) / $grid-width)) + ($total-width*(($gutter-width)/$grid-width));
}

@mixin push($n,$columns:$desktop-columns,$total-width:$desktop-total-width,$column-width:$desktop-col-width,$grid-width:$desktop-grid-width) {
  margin-left: ($total-width*(((($gutter-width+$column-width)*$n)-$gutter-width) / $grid-width)) + ($total-width*(($gutter-width)/$grid-width)) + $gutter-width/2;
  margin-right: (-$total-width*(((($gutter-width+$column-width)*$n)-$gutter-width) / $grid-width)) + (-$total-width*(($gutter-width)/$grid-width)) + $gutter-width/2;
}

@mixin pull($n,$columns:$desktop-columns,$total-width:$desktop-total-width,$column-width:$desktop-col-width,$grid-width:$desktop-grid-width) {
  margin-left: (-$total-width*(((($gutter-width+$column-width)*$n)-$gutter-width) / $grid-width)) + (-$total-width*(($gutter-width)/$grid-width)) + $gutter-width/2;
}

// Create the Columns
$_allColumns: "#{enumerate(".g-h", 1, $handheld-columns)},
#{enumerate(".g-hl", 1, $handheld-columns)},
#{enumerate(".g-t", 1, $tablet-columns)},
#{enumerate(".g-tl", 1, $tablet-columns)},
#{enumerate(".g-d", 1, $desktop-columns)}";

// Zero out desktop push/pull/offset to avoid specificity problems 
// in the media class stack when moving things like sidebars around.
// This must come before column classes.
@mixin zero-d-classes() {
  #{enumerate(".g-d-o", 1, $desktop-columns)} {
    margin-left: 0;
  }

  #{enumerate(".g-d-push", 1, $desktop-columns)} {
    margin-left: $gutter-width*.5;
    margin-right: $gutter-width*.5;
  }

  #{enumerate(".g-d-pull", 1, $desktop-columns)} {
    margin-left: $gutter-width*.5;
  }
}