@import "grid-utilities";
@import "grid-fractions";

// Tablet Landscape
@media only screen and (min-width: 980px) and (max-width: 1159px) {
  body{}
  .inside {
  width: $max-tablet-landscape-width;
  }

  .g-all-row {
    @include row($tablet-columns,$tablet-landscape-total-width,$tablet-landscape-grid-width);
    @if $show-grid-background {
      @include grid-background($tablet-columns, $tablet-landscape-col-width, $gutter-width, $base-line-height, 4px);
    }
  }

  #{$_DesktopOffsetPull} {
    margin-left: 0;
  }

  #{$_DesktopPush} {
    margin-left: 0;
    margin-right: 0;
  }

  @include grid($tablet-landscape);

}

