/* Handheld Landscape */
@include respond-to(handheld-landscape) {
  body {}
  .inside {
  width: $max-handheld-landscape-width;
  }

  // Disables iphone font size increase when viewing in landscape mode.
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust:none;
  }

  .g-all-row {
    width: grid-width($handheld-landscape);
    @if $show-grid-background {
      @include grid-background($handheld-columns, $handheld-landscape-col-width, $gutter-width, $base-line-height, $gutter-width*.5);
    }
  }
  
  // Zero out desktop push/pull/offset to avoid specificity problems 
  // in the media class stack when moving things like sidebars around.
  // This must come before column classes.
  @include zero-d-classes();

  // Generate column classes for handheld landscape media
  @include grid($handheld-landscape);

}
