#page {
  overflow: hidden;
}

.inside {
  width: $max-desktop-width;
  margin-left: auto;
  margin-right: auto;
}

#{$_allColumns} {
  @include box-sizing(border-box);
  display: inline;
  float: left;
//  overflow: hidden; // If you wish to use nested columns, uncomment this
  margin-left: $gutter-width*.5;
  margin-right: $gutter-width*.5;
}

.g-all-row {
  @include clearfix();
  width: grid-width($desktop);
  margin-right: (($gutter-width*.5)*1);
  margin-left: (($gutter-width*.5)*1);
  @if $show-grid-background {
    @include grid-background($desktop-columns, $desktop-col-width, $gutter-width, $base-line-height, $gutter-width*.5);
  }
  .g-all-row {
    margin-right: (($gutter-width*.5)*-1);
    margin-left: (($gutter-width*.5)*-1);
  }
}

@include grid;

.demo-container {
    background-color: #afafaf;
    border-radius: 3px 3px 3px 3px;
    @include margin-trailer(1, $base-font-size);
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
