// These classes make it possible to display elements in only certain medias.
.desktop-visible,
.tablet-landscape-visible,
.tablet-visible,
.tablet-all-visible,
.handheld-landscape-visible,
.handheld-visible,
.handheld-all-visible {
  display: none;
}

@include respond-to(handheld) {
  .desktop-visible, .tablet-visible, .tablet-landscape-visible, .handheld-landscape-visible { display: none !important; }
  .handheld-visible { display: block !important; }
  #{elements-of-type(inline)} {
    &.handheld-visible {
      display: inline !important;
    }
  }
}

@include respond-to(handheld-landscape) {
  .desktop-visible, .tablet-visible, .tablet-landscape-visible, .handheld-visible { display: none !important; }
  .handheld-landscape-visible { display: block !important; }
  #{elements-of-type(inline)} {
    &.handheld-landscape-visible {
      display: inline !important;
    }
  }
}

@include respond-to(handheld-all) {
  .desktop-visible, .tablet-visible, .tablet-landscape-visible { display: none !important; }
  .handheld-all-visible { display: block !important; }
  #{elements-of-type(inline)} {
    &.handheld-all-visible {
      display: inline !important;
    }
  }
}

@include respond-to(tablet) {
  .desktop-visible, .tablet-landscape-visible, .handheld-landscape-visible, .handheld-visible { display: none !important; }
  .tablet-visible { display: block !important; }
  #{elements-of-type(inline)} {
    &.tablet-visible {
      display: inline !important;
    }
  }
}

@include respond-to(tablet-landscape) {
  .desktop-visible, .tablet-visible, .handheld-landscape-visible, .handheld-visible { display: none !important; }
  .tablet-landscape-visible { display: block !important; }
  #{elements-of-type(inline)} {
    &.tablet-landscape-visible {
      display: inline !important;
    }
  }
}

@include respond-to(tablet-all) {
  .desktop-visible, .handheld-landscape-visible, .handheld-visible { display: none !important; }
  .tablet-all-visible { display: block !important; }
  #{elements-of-type(inline)} {
    &.tablet-all-visible {
      display: inline !important;
    }
  }
}

@include respond-to(desktop) {
  .tablet-visible, .tablet-landscape-visible, .handheld-landscape-visible, .handheld-visible { display: none !important; }
  .desktop-visible { display: block !important; }
  #{elements-of-type(inline)} {
    &.desktop-visible {
      display: inline !important;
    }
  }
}


