// These classes make it possible to display elements in only certain medias.
.handheld-landscape-visible,
.handheld-visible {
  display: none;
}

@media only screen and (max-width: 759px) and (min-width: 480px) {
  .desktop-visible, .handheld-visible { display: none !important; }
  .handheld-landscape-visible { display: block !important; }
  #{elements-of-type(inline)} {
    &.handheld-landscape-visible {
      display: inline !important;
    }
  }
}

@media only screen and (max-width: 479px) and (min-width: 1px) {
  .desktop-visible, .handheld-landscape-visible { display: none !important; }
  .handheld-visible { display: block !important; }
  #{elements-of-type(inline)} {
    &.handheld-visible {
      display: inline !important;
    }
  }
}


