// *********** Handheld Portrait Details ***********
$handheld-pixel-width: 320px !default;
$handheld-columns: 12 !default;
$handheld-width: $handheld-pixel-width - $gutter-width - ($page-wrapper-padding * 2) !default;
$handheld-wrapper-width: $handheld-width + 2 * $page-wrapper-padding !default;
$handheld-col-width: ($handheld-width - $gutter-width * ($handheld-columns - 1)) / $handheld-columns !default;

@function handheld-column-width($n) {
  @return column-width($n, $handheld-col-width);
}

@mixin handheld-column($n) {
  @include column($n, $handheld-columns,
                  $handheld-col-width,
                  g-h);
}

// Portrait orientation of handheld devices
@media only screen and (max-width: 479px) {
//.g-<media>-c - The grid container.
  .g-h-c {
    @extend .g-base-c;
    width: $handheld-width;
    @if $show-grid-background {
    @include grid-background(
      $total: $handheld-columns,
      $column: $handheld-col-width,
      $gutter: $gutter-width,
      $baseline: $base-line-height
    );
    }
  }

  .g-h-sunken { float: none !important; }

  .grid-wrapper {
    width: $handheld-wrapper-width;
  }

  @include grids(h,
                 1 2 3 4 5 6 7 8 9 10 11 12,
                 $handheld-columns,
                 $handheld-col-width);
}
