// *********** Handheld Landscape Details ***********
$handheld-landscape-columns: 12 !default;
$handheld-landscape-pixel-width: 476px !default;
$handheld-landscape-width: $handheld-landscape-pixel-width - $gutter-width - ($page-wrapper-padding * 2) !default;
$handheld-landscape-wrapper-width: $handheld-landscape-width + 2 * $page-wrapper-padding !default;
$handheld-landscape-col-width: ($handheld-landscape-width - $gutter-width * ($handheld-landscape-columns - 1)) / $handheld-landscape-columns !default;

@function handheld-landscape-column-width($n) {
  @return column-width($n, $handheld-landscape-col-width);
}

@mixin handheld-landscape-column($n) {
  @include column($n, $handheld-landscape-columns,
                  $handheld-landscape-col-width,
                  g-hl);
}

// handhelds in landscape orientation
@media only screen and (min-width: 480px) and (max-width: 759px) {

  // Disables iphone font size increase when viewing in landscape mode.
  html { -webkit-text-size-adjust: none; }

// .g-<media>-c - The grid container.
  .g-h-c {
    @extend .g-base-c;
    width: $handheld-landscape-width;
    @if $show-grid-background {
    @include grid-background(
      $total: $handheld-landscape-columns,
      $column: $handheld-landscape-col-width,
      $gutter: $gutter-width,
      $baseline: $base-line-height
    );
    }
  }

  .g-hl-sunken { float: none !important; }

  .grid-wrapper {
    width: $handheld-landscape-wrapper-width;
  }

  @include grids(hl,
                 1 2 3 4 5 6 7 8 9 10 11 12,
                 $handheld-landscape-columns,
                 $handheld-landscape-col-width);
}


