// Error Styles

// Base alert styles
div.messages {
  background-position: 0;
  position: relative;
  padding: 7px 15px;
  @include margin-trailer(1, $font-size-normal);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  @include text-shadow(rgba(255,255,255,.5) 0 1px 0);
  border-width: 1px;
  border-style: solid;
  @include border-radius(4px);
  @include background-image(linear-gradient(#62C462, #57A957));
  &.status {
    @include background-image(linear-gradient(#5bc0de, #339bb9));
  }
  &.warning {
    @include background-image(linear-gradient(#fceec1, #eedc94));
  }
  &.error {
    color: white;
    @include background-image(linear-gradient(#ee5f5b, #c43c35));
    @include text-shadow(rgba(0, 0, 0, 0.25) 0 -1px 0);
  }
}
