// Tables

// BASELINE STYLES

table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
  th,
  td {
    padding-left: 0.692em;
    padding-right: 0.692em;
    text-align: left;
  }
  th {
    font-weight: bold;
    vertical-align: middle;
    border-color: #ccc;
  }
  td {
    vertical-align: top;
    border-color: #ddd;
  }
  // When scoped to row, fix th in tbody
  tbody th {
    border-color: #ddd;
    vertical-align: top;
  }
  tr.even, tr.odd {
    background-color: transparent;
  }
}

// condensed-table
// -----------------
.condensed-table {

}
