// Vertical Rhythm
$base-font-size: 13px !default;
$base-line-height: 18px !default;
$relative-font-sizing: true !default; // output px instead of em's. cuz em's are annoying.
$base-em-ratio: 1em / $base-font-size !default; // used by the px-to-em function below

$show-grid-backgrounds: false !default;

// Font size constants
$font-size-xxs: 10px !default;
$font-size-xs: 11px !default;
$font-size-sm: 12px !default;
$font-size-normal: $base-font-size !default;
$font-size-md: 14px !default;
$font-size-lg: 18px !default;
$font-size-xl: 20px !default;
$font-size-xxl: 24px !default;
$font-size-xxxl: 30px !default;

// Converts px to em in case you do need relative units in your output.
@function px-to-em($value, $em-ratio: $base-em-ratio) {
  @return $value * $em-ratio;
}

// Vertical Rhythm borders
$typographic-indent: 1.625em !default;

// Font Stacks
$header-font-family: Palatino, "Helvetica Neue",Helvetica,Arial,sans-serif !default;
$text-font-family: "Helvetica Neue", "Helvetica", Arial, "Liberation Sans", FreeSans, sans-serif !default;
$mono-font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

@include establish-baseline($base-font-size);

// Add and/or remove tags as your baseline grid needs

p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img, figure, figcaption, button, hr {
  @include margin-leader(0, $font-size-normal);
  @include margin-trailer(1, $font-size-normal);
}

// Headings/small
//
// Font sizes are based on the golden ratio of 16
// See this for the modular scale: ow.ly/5jGl6
// Line-heights and margins are adjusted to keep a 26px (1.625em) vertical rhythm across elements


h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-size: px-to-em($base-font-size);
  font-weight: bold;
}

h1 {
  @include adjust-font-size-to($font-size-xxxl,2);
  @include margin-leader(0, $font-size-xxxl);
  @include margin-trailer(1, $font-size-xxxl);
}

h2 {
  @include adjust-font-size-to($font-size-xxl,2);
  @include margin-leader(0, $font-size-xxl);
  @include margin-trailer(1, $font-size-xxl);
}

h3 {
  @include adjust-font-size-to($font-size-xl,1);
  @include margin-leader(0, $font-size-xl);
  @include margin-trailer(1, $font-size-xl);
}

h4 {
  @include adjust-font-size-to($font-size-lg,1);
  @include margin-leader(0, $font-size-lg);
  @include margin-trailer(1, $font-size-lg);
}

h5 {
  @include adjust-font-size-to($font-size-md,1);
  @include margin-leader(0, $font-size-md);
  @include margin-trailer(1, $font-size-md);
}

h6 {
  @include adjust-font-size-to($font-size-md,1);
  @include margin-leader(0, $font-size-md);
  @include margin-trailer(1, $font-size-md);
  color: $text-color-light;
}

small {
  font-size: px-to-em($font-size-xxs);
  @include margin-leader(0, $font-size-xxs);
  @include margin-trailer(1, $font-size-xxs);
}

h1, h2, h3, h4, h5, h6 {
  small {
    color: $text-color-light;
  }
}

// Preformatted text and code

// Allows line wrapping of 'pre'

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  @include adjust-font-size-to($font-size-normal,1);
  font-family: $mono-font-family;
}

code, kbd, samp {
  @include adjust-font-size-to($font-size-normal,1);
  font-family: $mono-font-family;
}

// Quotes

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

blockquote, q, cite {
  font-style: italic;
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

blockquote {
  padding-left: $typographic-indent;
  border-left: 1px solid $text-border;
  padding-right: 20px;
  padding-left: 19px;
  > p {
    padding: 0;
  }
}

// Unordered and Ordered lists
ul, ol, .item-list ul {
  margin: 0 0 0 $typographic-indent;
  @include margin-trailer(1, $base-font-size);
  padding: 0;
}

.item-list ul li {
    margin: 0;
    padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li, .item-list li {
  line-height: px-to-em($base-line-height);
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
}

// Description Lists
dl {
  @include margin-trailer(1, $base-font-size);
  dt, dd {
    line-height: px-to-em($base-line-height);
  }
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: $typographic-indent / 2;
  }
}

// Links

a {
  @include hover-link;
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
  &:focus {
    outline: thin dotted;
  }
  &:hover, &:active {
    outline: none;
  }
}

#primary {
  @include menu-links-inline(2em, 1px, solid, transparentize(#FFFFFF, 0.6));
}

#secondary {
  @include menu-links-inline(1.5em, 2px, dashed, white);
}

.breadcrumb {
  a {
    @include link-colors($link-color-alt, $hover: $link-color-hover-alt, $focus: $link-color-hover-alt, $visited: $link-color-visited-alt, $active: $link-color-active-alt);
    }
}

// Marked/inserted/deleted text

mark {
  background: $text-marked;
}

ins {
  text-decoration: none;
  background: $text-inserted;
}

del {
  text-decoration: line-through;
}

// Others

strong, b, dt {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

var, address {
  font-style: normal;
}

table {
  font-size: $base-font-size;
  @include margin-trailer(1, $base-font-size);
  th,
  td {
    line-height: px-to-em($base-line-height);
  }
}

// Forms

fieldset {
  @include rhythm-borders(1px, 1, $font-size-normal, solid);
  border-color: $text-border-alt;
}

.form-item, .form-actions {
  @include margin-leader(1, $font-size-normal);
  @include margin-trailer(1, $font-size-normal);
}

.form-type-textfield,
.form-type-date,
.form-type-select,
.form-type-file,
.form-type-managed-file,
.form-type-password {
  @include margin-leader(0.75, $font-size-normal);
  @include margin-trailer(0.75, $font-size-normal);
}

input.password-confirm, input.password-field {
  margin-bottom: 0;
}

.form-checkboxes .form-item, .form-radios .form-item {
  @include margin-leader(0, $font-size-normal);
  @include margin-trailer(0, $font-size-normal);
}

// Pages Rhythm

#site-name {
  @include adjust-font-size-to($font-size-xxxl,1.5);
  @include margin-leader(1, $font-size-xxxl);
  @include margin-trailer(0, $font-size-xxxl);
}

#logo {
  img {
    margin-bottom: 0;
  }
}

// Admin Rhythm

div.admin-panel,
div.admin-panel .body {
    padding-top: 0;
    padding-bottom: 0;
}

// Tabs Rhythm

ul.secondary {
  font-size: px-to-em($font-size-sm);
  @include margin-leader(-.65, $font-size-sm); // Collapse bottom margin of ul.primary.
  li {
    @include margin-leader(0.061, $font-size-sm);
    @include margin-trailer(0.061, $font-size-sm);
  }
}
