// Configuration
$desktop-columns: 12 !default; // the number of columns in your grid
$tablet-columns: 12 !default; // the number of columns in your grid
$handheld-columns: 12 !default; // the number of columns in your grid

$gutter-width: 10 !default;
$max-desktop-width: 1140px + $gutter-width !default;
$max-tablet-landscape-width: 960px + $gutter-width !default;
$max-tablet-width: 768px + $gutter-width !default;
$max-handheld-landscape-width: 420px + $gutter-width !default;
$max-handheld-width: 300px + $gutter-width !default;

// Utility variables for column and row widths — you should never need to modify these
// Handheld
$column-h-width: (($max-handheld-width - $gutter-width) - ($gutter-width * $handheld-columns)) / $handheld-columns;
$grid-h-width: ($column-h-width*$handheld-columns) + ($gutter-width*$handheld-columns);
// Handheld Landscape
$column-hl-width: (($max-handheld-landscape-width - $gutter-width) - ($gutter-width * $handheld-columns)) / $handheld-columns;
$grid-hl-width: ($column-hl-width*$handheld-columns) + ($gutter-width*$handheld-columns);
// Tablet
$column-t-width: (($max-tablet-width - $gutter-width) - ($gutter-width * $tablet-columns)) / $tablet-columns;
$grid-t-width: ($column-t-width*$tablet-columns) + ($gutter-width*$tablet-columns);
// Tablet Landscape
$column-tl-width: (($max-tablet-landscape-width - $gutter-width) - ($gutter-width * $tablet-columns)) / $tablet-columns;
$grid-tl-width: ($column-tl-width*$tablet-columns) + ($gutter-width*$tablet-columns);
// Desktop
$column-d-width: (($max-desktop-width - $gutter-width) - ($gutter-width * $desktop-columns)) / $desktop-columns;
$grid-d-width: ($column-d-width*$desktop-columns) + ($gutter-width*$desktop-columns);

$total-h-width:  $grid-h-width;
$total-hl-width: $grid-hl-width;
$total-t-width:  $grid-t-width;
$total-tl-width: $grid-tl-width;
$total-d-width:  $grid-d-width;

@mixin row($columns:$desktop-columns,$total-width:$total-d-width,$grid-width:$grid-d-width) {
	width: $total-width*(($gutter-width + $grid-width)/$grid-width) - $gutter-width;
}

// Prefixes
$pre-handheld: "h";
$pre-handheld-l: "hl";
$pre-tablet: "t";
$pre-tablet-l: "tl";
$pre-desktop: "d";

@mixin column($prefix:$pre-handheld,$columns:$handheld-columns,$total-width:$total-h-width,$column-width:$column-h-width,$grid-width:$grid-h-width) {
		@if $prefix == $pre-handheld-l {
		$total-width:$total-hl-width;
		$column-width:$column-hl-width;
		$grid-width:$grid-hl-width;
		}
		@else if $prefix == $pre-tablet {
		$total-width:$total-t-width;
		$column-width:$column-t-width;
		$grid-width:$grid-t-width;
		}
		@else if $prefix == $pre-tablet-l {
		$total-width:$total-tl-width;
		$column-width:$column-tl-width;
		$grid-width:$grid-tl-width;
		}
		@else if $prefix == $pre-desktop {
		$total-width:$total-d-width;
		$column-width:$column-d-width;
		$grid-width:$grid-d-width;
		}
	  @for $col from 1 through $columns {
		.g-#{$prefix}-#{$col} {
			width: $total-width*(((($gutter-width+$column-width)*$col)-$gutter-width) / $grid-width);
			}
		}
}

@mixin offset($prefix:$pre-handheld,$columns:$handheld-columns,$total-width:$total-h-width,$column-width:$column-h-width,$grid-width:$grid-h-width) {
		@if $prefix == $pre-handheld-l {
		$total-width:$total-hl-width;
		$column-width:$column-hl-width;
		$grid-width:$grid-hl-width;
		}
		@else if $prefix == $pre-tablet {
		$total-width:$total-t-width;
		$column-width:$column-t-width;
		$grid-width:$grid-t-width;
		}
		@else if $prefix == $pre-tablet-l {
		$total-width:$total-tl-width;
		$column-width:$column-tl-width;
		$grid-width:$grid-tl-width;
		}
		@else if $prefix == $pre-desktop {
		$total-width:$total-d-width;
		$column-width:$column-d-width;
		$grid-width:$grid-d-width;
		}
	  @for $col from 1 through ($columns - 1) {
		.g-#{$prefix}-o#{$col} {
			margin-left: ($total-width*(((($gutter-width+$column-width)*$col)-$gutter-width) / $grid-width)) + ($total-width*(($gutter-width)/$grid-width));
		}
	}
}

body{}
#page {
	width: $max-handheld-width;
	margin: 0 auto;
}

// Create the Columns
$_allColumns: "";
@for $col from 1 to ($handheld-columns + 1) {
	@if $_allColumns == "" {
		$_allColumns: ".g-h-#{$col}, .g-hl-#{$col}";
	} @else {
		$_allColumns: $_allColumns + ", .g-h-#{$col}, .g-hl-#{$col}";
	}
}

@for $col from 1 to ($tablet-columns + 1) {
	@if $_allColumns == "" {
		$_allColumns: ".g-t-#{$col}, .g-tl-#{$col}";
	} @else {
		$_allColumns: $_allColumns + ", .g-t-#{$col}, .g-tl-#{$col}";
	}
}

@for $col from 1 to ($desktop-columns + 1) {
	@if $_allColumns == "" {
		$_allColumns: ".g-d-#{$col}";
	} @else {
		$_allColumns: $_allColumns + ", .g-d-#{$col}";
	}
}

#{$_allColumns} {
	@include box-sizing(border-box);
	display: inline;
	float: left;
	overflow: hidden;
	margin-left: $gutter-width*.5;
	margin-right: $gutter-width*.5;
}

// Generate column classes for handheld media
@include column;

// Generate offset column classes for handheld media
@include offset;

.row {
	@include row($tablet-columns,$total-h-width,$grid-h-width);
	@include clearfix();
	margin-right: (($gutter-width*.5)*1);
	margin-left: (($gutter-width*.5)*1);
	@if $show-grid-background {
		$grid-background-total-columns: $handheld-columns;
		$grid-background-offset: 4px;
		$grid-background-column-width: $column-h-width;
		$grid-background-gutter-width: $gutter-width;
		$grid-background-baseline-height: $base-line-height;
		@include grid-background;
	}
	.row {
		margin-right: (($gutter-width*.5)*-1);
		margin-left: (($gutter-width*.5)*-1);
	}
}

// Handheld Landscape
@media only screen and (min-width: 480px) {
	body {}
	#page {
	width: $max-handheld-landscape-width;
	}

	// Disables iphone font size increase when viewing in landscape mode.
	html { -webkit-text-size-adjust: none; }
	body {}

	.row {
		@include row($tablet-columns,$total-hl-width,$grid-hl-width);
		@if $show-grid-background {
			$grid-background-total-columns: $handheld-columns;
			$grid-background-offset: 4px;
			$grid-background-column-width: $column-hl-width;
			$grid-background-gutter-width: $gutter-width;
			$grid-background-baseline-height: $base-line-height;
			@include grid-background;
		}
	}

	@include column($pre-handheld-l,$handheld-columns);
	@include offset($pre-handheld-l,$handheld-columns);

}

// Tablet Portrait
@media only screen and (min-width: 768px) {
	body{}
	#page {
	width: $max-tablet-width;
	}

	.row {
		@include row($tablet-columns,$total-t-width,$grid-t-width);
		@if $show-grid-background {
			$grid-background-total-columns: $tablet-columns;
			$grid-background-offset: 4px;
			$grid-background-column-width: $column-t-width;
			$grid-background-gutter-width: $gutter-width;
			$grid-background-baseline-height: $base-line-height;
			@include grid-background;
		}
	}

	@include column($pre-tablet,$tablet-columns);
	@include offset($pre-tablet,$tablet-columns);

}

// Tablet Landscape
@media only screen and (min-width: 960px) {
	body{}
	#page {
	width: $max-tablet-landscape-width;
	}

	.row {
		@include row($tablet-columns,$total-tl-width,$grid-tl-width);
		@if $show-grid-background {
			$grid-background-total-columns: $tablet-columns;
			$grid-background-offset: 4px;
			$grid-background-column-width: $column-tl-width;
			$grid-background-gutter-width: $gutter-width;
			$grid-background-baseline-height: $base-line-height;
			@include grid-background;
		}
	}

	@include column($pre-tablet-l,$tablet-columns);
	@include offset($pre-tablet-l,$tablet-columns);

}

// Desktop
@media only screen and (min-width: 1160px) {
	body{}
	#page {
	width: $max-desktop-width;
	}

	.row {
		@include row($desktop-columns,$total-d-width,$grid-d-width);
		@if $show-grid-background {
			$grid-background-total-columns: $desktop-columns;
			$grid-background-offset: 4px;
			$grid-background-column-width: $column-d-width;
			$grid-background-gutter-width: $gutter-width;
			$grid-background-baseline-height: $base-line-height;
			@include grid-background;
		}
	}

	@include column($pre-desktop,$desktop-columns);
	@include offset($pre-desktop,$desktop-columns);

}

