// Configuration
$desktop-columns: 12 !default; // the number of columns in your grid
$tablet-columns: 12 !default; // the number of columns in your grid
$handheld-columns: 12 !default; // the number of columns in your grid

$gutter-width: 10 !default;
$max-desktop-width: 1140px + $gutter-width !default;
$max-tablet-landscape-width: 960px + $gutter-width !default;
$max-tablet-width: 768px + $gutter-width !default;
$max-handheld-landscape-width: 420px + $gutter-width !default;
$max-handheld-width: 300px + $gutter-width !default;

// Utility variables for column and grid wrapper widths — you should never need to modify these
// Handheld
$handheld-col-width: 	(($max-handheld-width - $gutter-width) - ($gutter-width * $handheld-columns)) / $handheld-columns;
$handheld-grid-width: ($handheld-col-width*$handheld-columns) + ($gutter-width*$handheld-columns);
// Handheld Landscape
$handheld-landscape-col-width: 	(($max-handheld-landscape-width - $gutter-width) - ($gutter-width * $handheld-columns)) / $handheld-columns;
$handheld-landscape-grid-width: ($handheld-landscape-col-width*$handheld-columns) + ($gutter-width*$handheld-columns);
// Tablet
$tablet-col-width: 	(($max-tablet-width - $gutter-width) - ($gutter-width * $tablet-columns)) / $tablet-columns;
$tablet-grid-width: ($tablet-col-width*$tablet-columns) + ($gutter-width*$tablet-columns);
// Tablet Landscape
$tablet-landscape-col-width: 	(($max-tablet-landscape-width - $gutter-width) - ($gutter-width * $tablet-columns)) / $tablet-columns;
$tablet-landscape-grid-width: ($tablet-landscape-col-width*$tablet-columns) + ($gutter-width*$tablet-columns);
// Desktop
$desktop-col-width: 	(($max-desktop-width - $gutter-width) - ($gutter-width * $desktop-columns)) / $desktop-columns;
$desktop-grid-width: 	($desktop-col-width*$desktop-columns) + ($gutter-width*$desktop-columns);

$handheld-total-width:  					$handheld-grid-width;
$handheld-landscape-total-width: 	$handheld-landscape-grid-width;
$tablet-total-width:  						$tablet-grid-width;
$tablet-landscape-total-width: 		$tablet-landscape-grid-width;
$desktop-total-width:  						$desktop-grid-width;

// Media
$handheld: "h";
$handheld-landscape: "hl";
$tablet: "t";
$tablet-landscape: "tl";
$desktop: "d";

@mixin grid($media:$handheld, $columns:$handheld-columns, $total-width:$handheld-total-width, $column-width:$handheld-col-width, $grid-width:$handheld-grid-width) {

	@if $media == $handheld-landscape {
	$columns:$handheld-columns;
	$total-width:$handheld-landscape-total-width;
	$column-width:$handheld-landscape-col-width;
	$grid-width:$handheld-landscape-grid-width;
	}
	@else if $media == $tablet {
	$columns:$tablet-columns;
	$total-width:$tablet-total-width;
	$column-width:$tablet-col-width;
	$grid-width:$tablet-grid-width;
	}
	@else if $media == $tablet-landscape {
	$columns:$tablet-columns;
	$total-width:$tablet-landscape-total-width;
	$column-width:$tablet-landscape-col-width;
	$grid-width:$tablet-landscape-grid-width;
	}
	@else if $media == $desktop {
	$columns:$desktop-columns;
	$total-width:$desktop-total-width;
	$column-width:$desktop-col-width;
	$grid-width:$desktop-grid-width;
	}

  // generate column classes
  @for $n from 1 through $columns {
    .g-#{$media}-#{$n} {
      @include column($n,$columns,$total-width,$column-width,$grid-width);
    }
  }

  // generate offset classes
  @for $n from 1 through ($columns - 1) {
    .g-#{$media}-o#{$n} {
      @include offset($n,$columns,$total-width,$column-width,$grid-width);
    }
  }

}

@mixin row($columns:$handheld-columns,$total-width:$handheld-total-width,$grid-width:$handheld-grid-width) {
	width: $total-width*(($gutter-width + $grid-width)/$grid-width) - $gutter-width;
}

@mixin column($n,$columns:$handheld-columns,$total-width:$handheld-total-width,$column-width:$handheld-col-width,$grid-width:$handheld-grid-width) {
	width: $total-width*(((($gutter-width+$column-width)*$n)-$gutter-width) / $grid-width);
}

@mixin offset($n,$columns:$handheld-columns,$total-width:$handheld-total-width,$column-width:$handheld-col-width,$grid-width:$handheld-grid-width) {
	margin-left: ($total-width*(((($gutter-width+$column-width)*$n)-$gutter-width) / $grid-width)) + ($total-width*(($gutter-width)/$grid-width));
}


body{}
#page {
	width: $max-handheld-width;
	margin: 0 auto;
}

// Create the Columns
$_allColumns: "";
@for $col from 1 to ($handheld-columns + 1) {
	@if $_allColumns == "" {
		$_allColumns: ".g-h-#{$col}, .g-hl-#{$col}";
	} @else {
		$_allColumns: $_allColumns + ", .g-h-#{$col}, .g-hl-#{$col}";
	}
}

@for $col from 1 to ($tablet-columns + 1) {
	@if $_allColumns == "" {
		$_allColumns: ".g-t-#{$col}, .g-tl-#{$col}";
	} @else {
		$_allColumns: $_allColumns + ", .g-t-#{$col}, .g-tl-#{$col}";
	}
}

@for $col from 1 to ($desktop-columns + 1) {
	@if $_allColumns == "" {
		$_allColumns: ".g-d-#{$col}";
	} @else {
		$_allColumns: $_allColumns + ", .g-d-#{$col}";
	}
}

#{$_allColumns} {
	@include box-sizing(border-box);
	display: inline;
	float: left;
	overflow: hidden;
	margin-left: $gutter-width*.5;
	margin-right: $gutter-width*.5;
}

.row {
	@include row($handheld-columns,$handheld-total-width,$handheld-grid-width);
	@include clearfix();
	margin-right: (($gutter-width*.5)*1);
	margin-left: (($gutter-width*.5)*1);
	@if $show-grid-background {
		@include grid-background($handheld-columns, $handheld-col-width, $gutter-width, $base-line-height, 4px);
	}
	.row {
		margin-right: (($gutter-width*.5)*-1);
		margin-left: (($gutter-width*.5)*-1);
	}
}

// Generate column classes for handheld media
@include grid;

// Handheld Landscape
@media only screen and (min-width: 480px) {
	body {}
	#page {
	width: $max-handheld-landscape-width;
	}

	// Disables iphone font size increase when viewing in landscape mode.
	html {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust:none;
	}
	body {}

	.row {
		@include row($handheld-columns,$handheld-landscape-total-width,$handheld-landscape-grid-width);
		@if $show-grid-background {
			@include grid-background($handheld-columns, $handheld-landscape-col-width, $gutter-width, $base-line-height, 4px);
		}
	}

	@include grid($handheld-landscape);

}

// Tablet Portrait
@media only screen and (min-width: 768px) {
	body{}
	#page {
	width: $max-tablet-width;
	}

	.row {
		@include row($tablet-columns,$tablet-total-width,$tablet-grid-width);
		@if $show-grid-background {
			@include grid-background($tablet-columns, $tablet-col-width, $gutter-width, $base-line-height, 4px);
		}
	}

	@include grid($tablet);

}

// Tablet Landscape
@media only screen and (min-width: 960px) {
	body{}
	#page {
	width: $max-tablet-landscape-width;
	}

	.row {
		@include row($tablet-columns,$tablet-landscape-total-width,$tablet-landscape-grid-width);
		@if $show-grid-background {
			@include grid-background($tablet-columns, $tablet-landscape-col-width, $gutter-width, $base-line-height, 4px);
		}
	}

	@include grid($tablet-landscape);

}

// Desktop
@media only screen and (min-width: 1160px) {
	body{}
	#page {
	width: $max-desktop-width;
	}

	.row {
		@include row($desktop-columns,$desktop-total-width,$desktop-grid-width);
		@if $show-grid-background {
			@include grid-background($desktop-columns, $desktop-col-width, $gutter-width, $base-line-height, 4px);
		}
	}

	@include grid($desktop);

}

