#navigation {
  ul {
    @include margin-trailer(1, $font-size-normal);
    margin-left: 0;
  }
  li {
    text-align: center;
    a {
      display: block; width: 100%
    }
  }
}

// Primary and Secondary menus

#primary {
//  @include menu-links-inline(0, 1px, solid, transparentize(#FFFFFF, 0.6));

}

#secondary {
  float: right;
  @include menu-links-inline(1.5em, 2px, dashed, white);
}


// Links

a {
  @include hover-link;
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
  &:focus {
    outline: thin dotted;
  }
  &:hover, &:active {
    outline: none;
  }
}

// Breadcrumbs

.breadcrumb {
  color: adjust-color($link-color-alt, $lightness: -10);
  ul {
    margin-left: 0;
    @include margin-leader(0.5, $font-size-normal);
    @include margin-trailer(0.5, $font-size-normal);
  }
  li {
    display: inline;
  }
  a {
    @include link-colors($link-color-alt, $hover: $link-color-hover-alt, $focus: $link-color-hover-alt, $visited: $link-color-visited-alt, $active: $link-color-active-alt);
    padding: 0;
    }
}
