// Pages

#name-and-slogan {
  @include padding-leader(1.5, $font-size-normal);
  @include padding-trailer(1.5, $font-size-normal);
}

#logo {
  display: inline;
  padding: 0 10px 0 0;
  img {
    @include margin-leader(.7, $font-size-normal);
    @include margin-trailer(0, $font-size-normal);
    @media only screen and (min-width: 980px) and (max-width: 1159px) {
      @include margin-leader(1, $font-size-normal);
    }
  }
}

.grid-dis-header {
  #hgroup-first {
    @include float(left);
  }
  #hgroup-second {
    @include float(left);
  }
  #hgroup-third {
    @include float(right);
  }
}

.grid-en-header { // If header adheres to grid
  .logo {
    text-align: center;
    #logo {
      padding-right: 0;
    }
  }
}

#site-name {
  @media only screen and (max-width: 479px) {
    text-align: center;
  }
  font-weight: bold;
  @include adjust-font-size-to($font-size-xxxl,1);
  @include margin-trailer(1, $font-size-xxxl);
  a {
    @include link-colors($text-color, $hover: $text-color, $focus: $text-color, $visited: $text-color, $active: $text-color);
    text-decoration: none;
  }
}

#site-slogan {
  @media only screen and (max-width: 479px) {
    text-align: center;
  }
  @include adjust-font-size-to($font-size-xxl,1);
}

#content .content-inner,
aside .sidebar-inner {
  @include margin-leader(1);
  @include margin-trailer(1);
}

// Admin

div.admin-panel,
div.admin-panel .body {
    padding-top: 0;
    padding-bottom: 0;
}
