// .l-<name> - A layout
// .c-<name> - A column within a layout.
//
// The l-2cr class simply
// swaps the visual appearance of the main and secondary content
// So you should apply it in addition to the .l-2c class.
//
// The main content should come first in the document source order.
.l-2cr {
  .c-1 {
    margin-left: desktop-column-width(6) + $gutter-width !important;
  }
  .c-2 {
    margin-left: - desktop-column-width(24) - $gutter-width !important;
  }
  @media only screen and (max-width: 759px) {
    .c-1, .c-2 {
      margin-left: 0 !important;
    }
  }
}
